<!-- 
<h1> Page principal</h1>

<nav>

    <li >  <a routerLink="/">Home</a>  </li>
    <li> <a routerLink="/addcar">Add car</a></li>
    <li> <a routerLink="/lisofcars">Cars</a></li>
    <li><a routerLink="/calculator">Calulator</a></li>
    <li><a routerLink="/login">Login</a></li>
    <li><a routerLink="/register">Register</a></li>


</nav>

<router-outlet></router-outlet> -->



<mat-toolbar color="primary">
    <span>Page principale</span>
    <span class="spacer"></span>
    <a mat-button routerLink="/">Home</a>
    <a mat-button routerLink="/addcar">Add car</a>
    <a mat-button routerLink="/listofcars">Cars</a>
    <a mat-button routerLink="/calculator">Calculator</a>
    <a mat-button routerLink="/login">Login</a>
    <a mat-button routerLink="/register">Register</a>
  </mat-toolbar>
  <router-outlet></router-outlet>
  

