<!-- <p>update car info</p>-->
<!-- <label>Id</label> 
<input type ="text"  [(ngModel)]="id_car" /> <br>  
<label>Model</label>
<input type ="text"  [(ngModel)]="model" /> <br>

<label>HP</label>
<input type ="number" [(ngModel)]="hp"/><br>

<label>Marque</label>
<input type ="text" [(ngModel)]="marque"/><br>

<button  (click)="UpdateCar()">Modifier</button> -->

<!-- <button [routerLink]="'/lisofcars'" (click)="UpdateCar()">Modifier/button> -->
    <div class="container">
        <p>Update car info</p>
      
        <mat-form-field>
          <mat-label>Model</mat-label>
          <input matInput type="text" [(ngModel)]="model" />
        </mat-form-field>
        <br>
      
        <mat-form-field>
          <mat-label>HP</mat-label>
          <input matInput type="number" [(ngModel)]="hp" />
        </mat-form-field>
        <br>
      
        <mat-form-field>
          <mat-label>Marque</mat-label>
          <input matInput type="text" [(ngModel)]="marque" />
        </mat-form-field>
        <br>
      
        <div class="center-button">
          <button mat-raised-button color="primary" (click)="UpdateCar()">Modifier</button>
        </div>
      </div>
      