<div class="container">
    <h3>Login</h3>
    <br>
    <div class="form-group">
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput type="text" [(ngModel)]="username" name="username" required/>
      </mat-form-field>
    </div>
    <pre></pre>
    <div class="form-group">
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" [(ngModel)]="password" required/>
      </mat-form-field>
    </div>
    <pre></pre>
    <button mat-flat-button color="primary" (click)="login()">Login</button>
    <br><br>
    <p>Not a member yet?<a routerLink="/register">Join</a></p>
    
  </div>
  